/*& google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
/* ²start global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Cairo', sans-serif;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    background-color: var(--background-color);
    margin: 0;
    color: white ;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
    padding: 0;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main-title{
    margin: 30px auto 70px;
    border: 2px solid white;
    width: fit-content;
    padding: 12px;
    z-index: 0;
    text-transform: uppercase;
    position: relative;
    transition: var(--main-transition-duration);
    cursor:default;
    user-select: none;
}
.main-title::before{
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: var(--main-color);
    border-radius: 50%;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::after{
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: var(--main-color);
    border-radius: 50%;
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}
.main-title:hover::after{
    z-index: -1;
    animation: right-move 1s  linear forwards;
}
.main-title:hover::before{
    z-index: -1;
    animation: left-move 1s  linear forwards;
}
.main-title:hover{
    border-color: var(--main-color);
    transition-delay: 1s;
}
.spikes{
    position: relative;
}
.spikes::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 1;
    background: linear-gradient(135deg,#121212 25%, transparent 25%),linear-gradient(228deg,#121212 25%, transparent 25%);
    background-size: 40px 40px;
}
.dots{
    background-image: url("images/dots.png");
    background-repeat: no-repeat;
    width: 204px;
    height: 186px;
}
.dots-up{
    position: absolute;
    top: 200px;
    right: 0;
}
.dots-down{
    position: absolute;
    bottom: 200px;
    left: 0;
}
@media (max-width:767px) {
    .dots-down{
        display: none;
    }
}
/* ² end global rules  */
/*& start variables */
:root{
    /* --main-color: #07c44b;  */
    /* --main-color: #27bc60; */
    --main-color:#4094d9;
    --alt-main-color: #008cff;
    --background-color: #121212;
    --secondary-background-color: #151515;
    --fill-effect-color: #2b2b2be8;
    --section-color: #1f1f1f ;
    --unvisible-text-color: #b8b3b3;
    --section-padding:100px;
    --main-transition-duration:0.5s;
}                  
/*& end variables */

/* & start latest events */
.events{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.events .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    perspective: 300px;
}
@media (max-width:991px) {
    .events .container{
        flex-direction: column;
        gap: 0;
    }
}
.events .container img{
    max-width: 350px;
    transition: var(--main-transition-duration);
    transform-style: preserve-3d;
    
}
@media (min-width:991px) {
    .events .container img:hover{
        transform: scale3d(1.5, 1.6, 2.9);
    }
    .events .container .front-face{
        perspective: 450px;
        position: relative;
        z-index: 8;
    }
}

@media (max-width:767px) {
    .events .container img{
        max-width: 70%;
        margin: auto;
        display: block;
    }
} 
@media (max-width:767px) {
    .events .container img:hover{
        transform: scale(1.1);
    }
}
.events .container .info {
    flex: 1;
}
.events .container .info .time {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
}
.events .container .info .time span{
    display: block;
}
.events .container .info .time span:first-child {
    font-size: 40px;
    color: var(--main-color);
    padding: 15px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}
.events .container .info .time span:last-of-type {
    padding: 10px;
    font-size: 15px;
    border-top: 1px solid #cccccc;
    color: var(--unvisible-text-color);
    transition: var(--main-transition-duration);
    text-transform: capitalize;
    letter-spacing: 1px;
}
.events .container .info .time .unit{
    border: 2px solid #cccccc;
    text-align: center;
    width: 75px;
    border-radius: 6px;
    transition: var(--main-transition-duration);
    user-select: none;
}
.events .container .info .time .unit:hover,
.events .container .info .time .unit:hover span:last-child {
    border-color: var(--main-color  );
    color: white;
    cursor: default;
}
.events .title{
    text-align: center;
    margin: 52px 0 0 0;
    font-size: 30px;
    color: #2196F3;
    text-transform: capitalize;
    color: var(--alt-main-color)
}
.events .description{
    margin: 20px auto;
    text-align: center;
    max-width: 72%;
    font-size: 16px;
    color: var(--unvisible-text-color);
}
@media (max-width:767px) {
    .events .description{
        max-width: 100%;
    }
}
.events .subscribe form{
    width: 600px;
    margin: auto;
    padding: 30px 40px;
    background-color: #1f1f1f;
    display: flex;
    gap: 18px;
    border-radius: 46px;
}
@media (max-width:767px) {
    .events .subscribe form{
        max-width: 100%;
        padding: 15px;
        border-radius: 10px;
        flex-direction: column;
    }
}
.events .subscribe form input[type="email"]{
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 29px;
    flex:1;
    caret-color: var(--main-color);
    position: relative;
}
@media (max-width:767px) {
    .events .subscribe form input[type="email"]{
        margin: 5px;
    }
}

.events .subscribe form input[type="email"]:focus{
    outline: none;
}
.events .subscribe form input[type="email"]::placeholder{
    transition: opacity var(--main-transition-duration);
}
.events .subscribe form input[type="email"]:focus::placeholder{
    opacity: 0;
}
.events .subscribe form input[type="submit"]{
    padding: 20px;
    border: none;
    border-radius: 53px;
    background: var(--main-color);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    transition: var(--main-transition-duration);
}
.tooltip{
    position: relative;
    display: flex;
    flex: 1;
}
.tooltip::after{
    content: "type your email to send you a notification";
    position: absolute;
    width: 243px;
    padding: 2px 9px; 
    height: 21px;
    display: block;
    background-color: #ffffffe4;
    top: -32px;
    font-size: 14px;
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
    color: black;
    opacity: 0;
    transition: var(--main-transition-duration);
}
.tooltip::before{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px;
    border-color: #ffffff transparent transparent transparent;
    top: -8px;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: var(--main-transition-duration);
}
.tooltip:hover::before,.tooltip:hover::after { 
    opacity: 1;
}

.events .subscribe form input[type="submit"]{
    padding: 20px;
    border: none;
    border-radius: 53px;
    background: var(--main-color);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    transition: var(--main-transition-duration);
}
.events .subscribe form input[type="submit"]:hover{
    background-color: var(--alt-main-color) ;
}
@media (max-width:767px) {
    .events .subscribe form input[type="submit"]{
        font-size: 25px;
    }
}
.events .subscribe{
    width: 100%;
    margin-top: 50px;
}
@media (max-width:767px) {
    .events .subscribe{
        margin-top: 30px;
    }
}
/* & end latest events */
/*² start discount */
.discount{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.discount .image{
    background-image: url("images/discount-background1.jpg");
    display: flex;
    flex-basis: 50%;
    background-size: cover;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation: change-background 22s infinite;
}
.discount .image::before{
    content: "";
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 140, 255, 0.962);
    z-index: -1;
}
@media (max-width:991px) {
    .discount .image{
        flex-basis: 100%;
    }
}
.discount .form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}
@media (max-width:991px) {
    .discount .form{
        flex-basis: 100%;
    }
}
.discount .form .input{
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #CCCC;
    background-color: #201e1ef9;
    color: white;
    font-size: 15px;
    caret-color: var(--main-color);
}
.discount .form .input:focus{
    outline: none;
}
.discount .form textarea{
    height: 200px;
    resize: none;
}
.discount .form input[type="submit"]{
    display: block;
    width: 100%;
    border: none;
    padding: 16px;
    border-radius: 4px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 21px;
    transition: var(--main-transition-duration);
}
.discount .form .input::selection{
    background-color: var(--main-color);
}
.discount .form input[type="submit"]:hover{
    background-color: var(--alt-main-color);
}
.discount .content{
    padding: 0 20px;
    text-align: center;
}
.discount .content h2{
    font-size: 40px;
    text-transform: capitalize;
}
.discount .sec h2{
    color: var(--main-color);
}
.discount .content p{
    line-height: 1.6;
    max-width: 500px;
    font-size: 21px;
    margin-top: 68px;
}
.discount img{
    width: 300px;
    max-width: 100%;
}
/*² end discount */
/*! start footer */
footer{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #1c1b1e;
    margin-top: 13px;

}
footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .container h3{
    letter-spacing: 2px;
    font-size: 29px;
    color: var(--main-color);
    margin: 22px 0;
}
footer .container .social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
footer .container .wrapper{
    width: 15px;
    padding: 24px;
    height: 15px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid white;
    transition: var(--main-transition-duration);
}
footer .container .wrapper:hover{
    transform: translateY(-8px);
    border-color: transparent ;
}
footer .container .instagram:hover{
    background: linear-gradient(155deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}
footer .container .github:hover{
    background-color: black;
}
footer .container .twitter:hover{
    background-color: black;
}
footer .container .paypal:hover{
    background-color: rgb(15, 15, 99);
}
footer .container .wrapper a{
    color: white;
    font-size: 23px;
}
footer .container .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .container .copy-right-text{
    margin-top: 14px;
    color: var(--unvisible-text-color);
    font-size: 16px;

}
footer .container .time{
    margin-top: 14px;
    color: var(--unvisible-text-color);
    font-size: 18px;
}
footer .container .time i{
    color: var(--main-color);
    margin-right: 4px;
}
footer .container .phone{
    margin-top: 14px;
    color: var(--unvisible-text-color);
    font-size: 16px;
}
footer .container .phone i{
    color: var(--main-color);
    margin-right: 4px;
}
/*! end footer  */
/** start animation */
@keyframes up_and_down {
    0%,100%{
        top: 0;
    }
    50%{
        top: -40px;
    }
}
@keyframes bouncing {
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
        
    }
    40% ,60%{
        transform: translateY(-10px);
        
    }

}

@keyframes right-move {
    50%{
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        right: 0;
        border-radius: 0;
        width: 51%;
        height: 100%;
    }
}
@keyframes left-move {
    50%{
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}


@keyframes moving-arrow {
    100%{
        transform: translateX(9px);
    }
}
@keyframes moving-arrow-2 {
    100%{
        transform: translateX(3px);
    }
}
@keyframes flashing {
    0%,40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
@keyframes change-background{
    0%,100%{
        background-image: url("images/discount-background1.jpg");
    }
    50%{
        background-image: url("images/discount-background2.jpg");
    }
}
/** end animation */
@media (max-width: 920px) {
    .landing .image img{
        display: none;
    }
}
/*? end landing  */

/*! Phones */
@media (max-width:767px) {
}
/** Small screens */
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}
/** Medium screens*/

@media (min-width:992px) {
    .container{
        width: 970px;
    }
}
/** X-large  screens*/

@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/** XX-large devices**/
@media (min-width:1400px){
    .container{
        width: 1370px;
    }
}
